main {
  font-family: 'Raleway', sans-serif;
}
#build-errors {
  padding: 1em;
  background-color: #111;
  color: #DDD;
}

#build-errors pre {
    margin: 0;
}

.gameOver {
    position: absolute;
    color: white;
    top: 100px;
    left: 20px;
  }

